@use "colors" as *;

.wm-button {
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  border-radius: 6px;
  padding: 3px 10px;

  border-width: 2px;
  border-color: $border-color;

  @include defaultTextColor;
  background-color: transparent;

  @include wm-button-states;
}


.small-inline-button {
  border-style: solid;
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
  border-radius: 6px;
  user-select: none;

  @include defaultTextColor;
  background-color: transparent;
  border: 2px solid $wm-bg4-color;
  color: $wm-bg8-color;
  line-height: 14px;
  // border-color: transparent;

  &:focus {
    color: $wm-bg9-color;
    background-color: transparent;
  }

  &:hover {
    color: $wm-bg10-color;
    background-color: $wm-bg5-color;
    border-color: $wm-bg5-color;
  }

  &:focus {
    outline: none;
    border-color: $focus-border-color;//$wm-bg8-color;
  }

  &:active {
    color: $wm-bg11-color;
    background-color: $wm-bg1-color;
    border-color: $wm-bg10-color;
  }


}