@media (prefers-color-scheme: dark) {
  :root {
    --wm-bg0-color: rgb(20, 20, 20);
    --wm-bg1-color: rgb(30, 30, 30);
    --wm-bg2-color: rgb(38, 38, 38);
    --wm-bg2-5-color: rgb(41, 41, 41);
    --wm-bg3-color: rgb(44, 44, 44);
    --wm-bg4-color: rgb(55, 55, 55);
    --wm-bg5-color: rgb(64, 64, 64);
    --wm-bg5-5-color: rgb(73, 73, 73);
    --wm-bg6-color: rgb(82, 82, 82);
    --wm-bg6-4-color: rgb(88, 88, 88);
    --wm-bg7-color: rgb(115, 115, 115);
    --wm-bg7-5-color: rgb(125, 125, 125);
    --wm-bg8-color: rgb(134, 134, 134);
    --wm-bg8-5-color: rgb(142, 142, 142);
    --wm-bg9-color: rgb(163, 163, 163);
    --wm-bg10-color: rgb(212, 212, 212);
    --wm-bg11-color: rgb(229, 229, 229);

    --wm-blue-intense-color: hsl(210, 45%, 60%);
    --wm-blue-color: hsl(210, 25%, 40%);
  }
}

.dark-theme {
  --wm-bg0-color: rgb(20, 20, 20);
  --wm-bg1-color: rgb(30, 30, 30);
  --wm-bg2-color: rgb(38, 38, 38);
  --wm-bg2-5-color: rgb(41, 41, 41);
  --wm-bg3-color: rgb(44, 44, 44);
  --wm-bg4-color: rgb(55, 55, 55);
  --wm-bg5-color: rgb(64, 64, 64);
  --wm-bg5-5-color: rgb(73, 73, 73);
  --wm-bg6-color: rgb(82, 82, 82);
  --wm-bg6-4-color: rgb(88, 88, 88);
  --wm-bg7-color: rgb(115, 115, 115);
  --wm-bg7-5-color: rgb(125, 125, 125);
  --wm-bg8-color: rgb(134, 134, 134);
  --wm-bg8-5-color: rgb(142, 142, 142);
  --wm-bg9-color: rgb(163, 163, 163);
  --wm-bg10-color: rgb(212, 212, 212);
  --wm-bg11-color: rgb(229, 229, 229);

  --wm-blue-intense-color: hsl(210, 45%, 60%);
  --wm-blue-color: hsl(210, 25%, 40%);
}

@media (prefers-color-scheme: light) {
  :root {
    --wm-bg0-color: rgb(240, 240, 240);
    --wm-bg1-color: rgb(229, 229, 229);
    --wm-bg2-color: rgb(219, 219, 219);
    --wm-bg2-5-color: rgb(215, 215, 215);
    --wm-bg3-color: rgb(211, 211, 211);
    --wm-bg4-color: rgb(195, 195, 195);
    --wm-bg5-color: rgb(182, 182, 182);
    --wm-bg5-5-color: rgb(170, 170, 170);
    --wm-bg6-color: rgb(158, 158, 158);
    --wm-bg6-4-color: rgb(150, 150, 150);
    --wm-bg7-color: rgb(120, 120, 120);
    --wm-bg7-5-color: rgb(110, 110, 110);
    --wm-bg8-color: rgb(102, 102, 102);
    --wm-bg8-5-color: rgb(95, 95, 95);
    --wm-bg9-color: rgb(78, 78, 78);
    --wm-bg10-color: rgb(43, 43, 43);
    --wm-bg11-color: rgb(30, 30, 30);
    --wm-blue-intense-color: hsl(210, 65%, 50%);
    --wm-blue-color: hsl(210, 25%, 60%);
  }
}

.light-theme {
  --wm-bg0-color: rgb(240, 240, 240);
  --wm-bg1-color: rgb(229, 229, 229);
  --wm-bg2-color: rgb(219, 219, 219);
  --wm-bg2-5-color: rgb(215, 215, 215);
  --wm-bg3-color: rgb(211, 211, 211);
  --wm-bg4-color: rgb(195, 195, 195);
  --wm-bg5-color: rgb(182, 182, 182);
  --wm-bg5-5-color: rgb(170, 170, 170);
  --wm-bg6-color: rgb(158, 158, 158);
  --wm-bg6-4-color: rgb(150, 150, 150);
  --wm-bg7-color: rgb(120, 120, 120);
  --wm-bg7-5-color: rgb(110, 110, 110);
  --wm-bg8-color: rgb(102, 102, 102);
  --wm-bg8-5-color: rgb(95, 95, 95);
  --wm-bg9-color: rgb(78, 78, 78);
  --wm-bg10-color: rgb(43, 43, 43);
  --wm-bg11-color: rgb(30, 30, 30);
  --wm-blue-intense-color: hsl(210, 65%, 50%);
  --wm-blue-color: hsl(210, 25%, 60%);
}



$wm-bg0-color: var(--wm-bg0-color);
$wm-bg1-color: var(--wm-bg1-color);
$wm-bg2-color: var(--wm-bg2-color);
$wm-bg2-5-color: var(--wm-bg2-5-color);
$wm-bg3-color: var(--wm-bg3-color);
$wm-bg4-color: var(--wm-bg4-color);
$wm-bg5-color: var(--wm-bg5-color);
$wm-bg5-5-color: var(--wm-bg5-5-color);
$wm-bg6-color: var(--wm-bg6-color);
$wm-bg6-4-color: var(--wm-bg6-4-color);
$wm-bg7-color: var(--wm-bg7-color);
$wm-bg7-5-color: var(--wm-bg7-5-color);
$wm-bg8-color: var(--wm-bg8-color);
$wm-bg8-5-color: var(--wm-bg8-5-color);
$wm-bg9-color: var(--wm-bg9-color);
$wm-bg10-color: var(--wm-bg10-color);
$wm-bg11-color: var(--wm-bg11-color);

$focus-intense-border-color: var(--wm-blue-intense-color);
$focus-border-color: var(--wm-blue-color);




// 1 -> 6 : 2.13
// 2 -> 6 : 1.93
// 3 -> 6 : 1.78
// 3 -> 6.3 : 2.08
// 3 -> 7 : 2.94

// 6 -> 10: 5.27

// 1 -> 10: 11.25




$border-color: $wm-bg6-color;

@mixin defaultTextColor{
  color: $wm-bg9-color;
}



@mixin wm-button-states {
  border-style: solid;
  font-size: 14px;
  font-family: 'Spartan', sans-serif;
  // background-color: transparent;

  &:focus {
    color: $wm-bg9-color;
    background-color: transparent;
  }

  &:hover {
    color: $wm-bg10-color;
    background-color: $wm-bg5-color;
    border-color: $wm-bg5-color;
  }

  &:focus {
    outline: none;
    border-color: $focus-border-color;//$wm-bg8-color;
  }

  &:active {
    color: $wm-bg11-color;
    background-color: $wm-bg1-color;
    border-color: $wm-bg10-color;
  }

}
