@use "monacoEditorPage";
@use "cellEditorPage";
@use "horizontalResize";
@use "button";
@use "sidebar";
@use "select";
@use "treeview";
@use "colors" as *;

@import '@vscode/codicons/dist/codicon.css';


// unselectable {
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

html {
  color-scheme: dark;
  min-height: 100vh;
  max-height: 100vh;
}

body {
  background: $wm-bg1-color;
  font-family: 'Spartan', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
}

input {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $wm-bg3-color;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $wm-bg6-color;
}

kbd {
  border: 1px solid $wm-bg7-color;
  border-radius: 3px;
  padding-inline: 1px;
}

a {
  color: hsl(210, 60%, 45%);

  border-radius: 2px;
  &:visited {
    color: hsl(202, 20%, 55%);
  }

  &:focus {
    outline: $wm-bg9-color solid 2px;
    outline-offset: 0px;
  }

  &:hover {
    color: $wm-bg9-color;
  }
}


.wm-app-container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  padding: 3px;

  .wm-app-grid {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 257px 8px calc(100vw - 257px);
  }
}


div.radio {
  padding-left: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
}

label.radio {
  // display: flex;
  gap: 6px;
  padding: 2px;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: $wm-bg9-color;
  box-sizing: border-box;
  width: 16px;
  height: 16px;

  border: 2px solid $border-color;
  border-radius: 50%;
  place-content: center;

  display: inline-block;
  padding: 2px;
  &::before {

    display: block;
    content: "";
    padding: 2px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &:checked {
    border-color: $wm-bg6-4-color; 
    &::before {
      background-color: $wm-bg8-color; 
    }
  }
  &:hover {
    border-color: $wm-bg8-color; 
    &::before {
      background-color: $wm-bg10-color; 
    }
  }
  &:focus {
    border-color: $focus-intense-border-color; // $wm-bg9-color;
    color: $focus-intense-border-color;
    outline: none;
  }
}
