@use "colors" as *;

.editor-page {
  height: 100%;
  box-sizing: border-box;
  padding: 3px;

  min-height: 100%;
  max-height: 100%;

  .editor-page-content {
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    border: 2px solid $border-color;
    border-radius: 6px;

    &:focus-within {
      border-color: $focus-muted-border-color; //$focus-border-color;
    }
    
    .editor-page-monaco-container {
      flex-grow: 1;
      height: 100%;
      overflow: hidden;
      padding: 2px;
    }

    .editor-page-separator {
      height: 0px;
      border-top: 2px solid $border-color;
    }

    .editor-page-control-bar {
      display: flex;
      padding: 4px;
      align-items: center;
      @include defaultTextColor;
    }
  }
}
