bin
obj
node_modules
tests-js
.fable
.vs
.ionide
config.json
.env
dist
output
bundle
Server.fsproj.user
analyzers
deploy
.local-chromium
NPGSQL_FSHARP
*.fs.js
src/App/build
appsettings.Development.json
.idea
.paket
paket.processlock
*.sln.DotSettings.user
